/*Navigation Style*/

.navbar {
    overflow: hidden;
    background-color: aliceblue;
    font-family: 'Ranchers', cursive;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: darkslategray;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    letter-spacing: 0.5px;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dd-button {
    font-size: 20px;
    border: none;
    outline: none;
    color: darkslategray;
    padding: 20px 25px;
    background-color: inherit;
    margin: 0;
    font-family: 'Ranchers', cursive;
    letter-spacing: 0.5px;
}


.dd-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    z-index: 1;
}

.dd-content a {
    float: none;
    color: darkslategray;
    padding: 10px 14px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown:hover .dd-content {
    display: block;
}
