* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    background-color: #313149;

}

/*---------TEMPLATE----------*/

.seriesList > section {
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 60px;
    margin-bottom: 60px;
}

.seriesList > section > h3 {
    grid-column: 1/-1;
    margin-bottom: -40px;
    font-family: sans-serif;
}

.series-image {
    width: 100%;
}

.series {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 5px #000000ab;
    position: relative;
    position: relative;
}

.series p {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
}

.seriesBody {
    padding: 0;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.seriesBody button {
    margin-top: auto;
    background-color: #5F6273;
    color: black;
    border: 0;
    padding: 8px;
    font-size: 1.3rem;
    cursor: pointer;
}

.seriesList {
    background-color: red;
}
